body, html {
	height: 100%;
	padding: 20px;
}

/*
.mdl-layout-title {
	color: black;
} 

.mdl-navigation__link {
	color: black;
	font-size: 40px;
	margin-right: 30px;	
}

.mdl-layout__tab-bar {
	padding-top: 30px;
}

a.mdl-js-ripple-effect {
	position: relative;
}

.mdl-js-button {
  width: 300px;
  height: 100%;
  min-width: initial;
}
*/


.test-swipe-1 {
	background-color: transparent;
}
.container {
  margin: 0 auto;
  width: 600px;
}

i {
	vertical-align: text-bottom;
}
.bg {
    /* The image used */
    background-image: url("../images/problem_solving.jpg");
    opacity: 0.80;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa {
	line-height: inherit;
}

.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a, .tabs .indicator {
    background-color: transparent;
    color: #32127A;
    font-weight: bold;
    font-family: 'Playfair Display',serif;
    text-transform: capitalize;
}


#test-swipe-1 #profile {
	font-family: 'Playfair Display', serif;
	color: #32127A	;
	font-size: 20px;
	line-height: 170%;
	word-spacing: 7px;
}

.card-panel {
	margin: 10px;
	padding: 20px;
	width: 300px;
}


#tabs-swipe-demo {
	background: transparent;
}

#test-swipe-2 {
	display: flex;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}