/*.body {
	padding: 20px;
	background: #fafafa;
	position: relative;
}*/

.layout-container {
	background: url(problem_solving.jpg);
}

/*.mdl-layout-title {
	color: black;
} 

.mdl-navigation__link {
	color: black;
	font-size: 40px;
	margin-right: 30px;	
}

.mdl-layout__tab-bar {
	padding-top: 30px;
}

a.mdl-js-ripple-effect {
	position: relative;
}

.mdl-js-button {
  width: 300px;
  height: 100%;
  min-width: initial;
}

#card1 {
	background-color: transparent;
	width: 100%;
	
}*/